.about {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: $textcolor;
    padding-left: 16px;
    padding-right: 16px;
}

.about img {
    width: 360px;
    height: auto;
    overflow-x: hidden;
    margin-top: -95px;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    padding-top: 27px;
    margin: 0;
    text-align: left;
    width: 100%; 
}

.about h2 {
    font-family: $ibmsans;
    font-size: 36px;
    font-weight: 400;
    color: $textcolor;
    letter-spacing: 0;
    line-height: 42px;
    margin-bottom: 8px;
    margin-left: 0;
}

.about p {
    font-family: $ibmmono;
    font-size: 14px;
    color: $textcolor;
    letter-spacing: 0;
    line-height: 22px;
}

.textcontainer :nth-child(2) {
    margin-bottom: 10px;
}

@media screen and (min-width: 769px) {
    .about {
        padding-left: 200px;
        padding-right: 256px;
    }
    
    .about img {
        max-width: 457.6px;
        max-height: 660px;
        margin-top: -168.6px;
        margin-right: 62.4px;
    }
    
    .textcontainer {
        display: flex;
        flex-direction: column;
        padding-top: 20.4px;
        margin: 0;
        text-align: left;
        width: 464px; 
    }
    
    .about h2 {
        font-family: $ibmsans;
        font-size: 48px;
        font-weight: 300;
        color: $textcolor;
        letter-spacing: 0;
        margin-bottom: 24px;
        margin-left: 0;
    }
    
    .about p {
        font-family: $ibmmono;
        font-size: 16px;
        color: $textcolor;
        letter-spacing: 0;
        line-height: 24px;
    }
    
    .textcontainer :nth-child(2) {
        margin-bottom: 10px;
    }
}