header {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    margin: 0;
}

.nav {
    margin: 0;
}

// .nav input {
//     height: 18px;
//     width: auto;
// }

#navlogo {
    width: 36px;
    height: auto;
}

.navlinks {
    list-style: none;
}   

.navlinks li {
    display: inline-block;
    padding-left: 48px;
    font-family: $mono;
    font-size: 16px;
    line-height: 28px;
    color: $text-color;
}

.navlinks li a {
    text-decoration: none;
    color: inherit;
}

.navlinks li:hover {
    color: #00F3BB;
    font-weight: 500;
    text-decoration: line-through;
}

.navlinks li:active {
    color: rgba(6,10,36,0.56);
    font-weight: 400;
    text-decoration: line-through;
}

@media screen and (min-width: 769px) {
    .nav input {
        display: none;
    }

}

@media screen and (max-width: 768px){
    header {
        width: 100%;
        position: relative;
        // display: flex;
        background-color: red;
        // justify-content: space-between;
        // align-items: center;
        height: 44px;
        padding-left: 16px;
        padding-right: 19px;
        z-index: 1;
    }
    .nav {
        position: relative;
        z-index: 2;
        overflow: hidden;
    }
    .checkbox {
        position: absolute;
        width: 18px;
        height: 18px;
        z-index: 3;
    }

    #navlogo {
        width: 24px;
        height: auto;
    }

    .nav ul {
        // width: 100%;
        // margin-top: 44px;
        // height: 224px;
        position: absolute;
        width: 100%;
        height: 224px;
        

        // top: 44px;
        top: 44px;
        right: 0;
        // padding-top: 45px;
        // overflow: hidden;
        // list-style: none;
        // background: blue;
        // height: 0px;
        // height: 100vh;
        // transform: translateX(-100%);
        // transition: transform 0.5s ease;
    }

    // .navlinks {
    //     position: absolute;
    //     width: 100%;
    //     top: 44px;
    //     height: 224px;
    
    

    .navlinks li {
        display: block;
        // justify-self: flex-end;
        // padding-left: 48px;
        // font-family: $mono;
        // font-size: 16px;
        // line-height: 28px;
        // color: $text-color;
    }

}




