@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
$ibmsans: 'IBM Plex Sans', sans-serif;
$ibmmono: 'IBM Plex Mono', monospace;
$textcolor: #060A24;
$listbackground: #0000EC;
$hovercolor: #00F3BB;
$activecolor: #060A24 56%;