* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@import "variables.scss";

@import "header.scss";
@import "title.scss";
@import "episodes.scss";
@import "about.scss";
@import "guests.scss";
@import "topics.scss";
@import "news.scss";
@import "footer.scss";

