.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    height: 341px;
    clip-path: polygon(0px 32px, 100% 0, 100% 341px, 0 341px);
    padding: 64px 16px 67px 16px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.news h2 {
    text-align: center;
    font-family: $ibmsans;
    font-weight: 300;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: 36px;
    line-height: 42px;
}

.news button {
    width: 288px;
    height: 48px;
    background-color: #00F3BB;
    border: none;
    font-family: $ibmmono;
    font-weight: 500;
    font-size: 16px;
}

.news button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
}

@media screen and (min-width: 769px) {
    .news {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1440px;
        height: 518px;
        clip-path: polygon(0px 142.6px, 100% 0, 100% 518px, 0 518px);
        padding: 213px 374px 0px 374px;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    }
    
    .news h2 {
        text-align: center;
        font-family: $ibmsans;
        font-weight: 300;
        font-size: 48px;
        color: #FFFFFF;
        letter-spacing: 0;
        margin-bottom: 36px;
    }
    
    .news button {
        width: 345px;
        height: 56px;
        background-color: #00F3BB;
        border: none;
        font-family: $ibmmono;
        font-weight: 500;
        font-size: 18px;
    }
}