.title {
    width: 100%;
    padding: 29px 16px 0px 16px;
    color: $textcolor;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: $ibmsans;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    padding-bottom: 16px;
}

h1 .world {
    text-decoration: line-through;
}

h1 .dot {
    color: $listbackground;
}

.title p {
    font-family: $ibmmono;
    margin-left: 0;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 36px;
}

.title button {
    // margin-top: 56px;
    width: 288px;
    height: 48px;
    background-color: $hovercolor;
    border: none;
    margin-bottom: 24px;
    font-family: $ibmmono;
    font-weight: 400;
    font-size: 16px;
}

.title button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .desktopp {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .mobilep {
        display: none;
    }

    .title {
        display: inline-block;
        max-width: 1440px;
        padding-left: 200px;
        padding-top: 120px;
        color: $textcolor;
    }
    
    h1 {
        font-family: $ibmsans;
        font-size: 64px;
        font-weight: 300;
        letter-spacing: 0;
    }
    
    .title p {
        font-family: $ibmmono;
        max-width: 628px;
        margin-left: 0;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 56px;
    }

    .title button {
        width: 226px;
        height: 56px;
        background-color: $hovercolor;
        border: none;
        font-family: $ibmmono;
        font-weight: 500;
        font-size: 18px;
    }
}




